@import 'pico.min.css';

#star-control input {
    margin-bottom: 0;
}

nav input[type=text] {
    width: 200px !important;
    padding: 15px !important;
}

nav input[type=range] {
    width: 100px !important;
}

nav input[type=color] {
    height: 33px !important;
}

nav input {
    width: 50px !important;
    margin-bottom: none;
    padding: 0px !important;
    height: 20px !important;
}

#save-load {
    display: none;
    width: 800px;
    margin: 20px;
}

.active-mode {
    background-color: var(--primary-focus);
}

main#main {
    padding: 0;
}

.popup {
    display: none;
    position: absolute;
    top: 25px;
    width:  500px;
    left: 50%;
    margin-left: -250px;
    padding-bottom: 0.5em;
}

.popup header, .popup footer {
    padding-top: 0.5rem;
    padding-bottom:  0.5rem;
    margin-bottom: 0.5rem;
}

.popup footer button {
    margin-bottom: 0;
}

.popup div {
    margin-bottom: var(--spacing);
}

.popup .inline-form {
    display: inline-block;
}

.popup .close-button {
    float: right;
}

.background-gallery-image {
    border: 3px solid var(--background-color);
}

.background-gallery-image:hover {
    cursor: pointer;
    border-color: var(--primary-hover);
}

/* pico overrides */

/* make pico tooltip appear on the bottom instead of at the top */
[data-tooltip]::before, [data-tooltip]::after {
    bottom: inherit !important;
    top: 100%;
}

/* disable pico tooltip caret */
[data-tooltip]::after {
    border: none !important;
}

nav li[data-tooltip],
.popup div[data-tooltip] {
  border-bottom: none !important;
  text-decoration: none;
  cursor: inherit;
}